<div class="Outerdiv">
    <div class="main">
        <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">

            <div class="heading" fxLayout="column" fxLayoutAlign="space-between center">
                <h3 >
                    <span style="color: rgb(9, 137, 196)">F</span>
                    <span style="color: rgb(216, 65, 65)">u</span>
                    <span style="color: rgb(219, 154, 32)">n</span>
                    <span style="color: rgb(209, 26, 117)">d</span>
                    <span style="color: rgb(142, 151, 14)">o</span>
                    <span style="color: rgb(39, 193, 78)">o</span>
                    <span style="color: rgb(14, 197, 213)">N</span>
                    <span style="color: rgb(203, 78, 15)">o</span>
                    <span style="color: rgb(22, 111, 99)">t</span>
                    <span style="color: rgb(102, 9, 164)">e</span>
                </h3>
            </div>

            <div class="line" fxLayout="column" fxLayoutAlign="space-between center">
                <p>Change Password</p>
            </div>

            <div class="line1" fxLayout="column" fxLayoutAlign="space-around start">
                <p>Create a strong password</p>
            </div>

            <div class="line2" fxLayout="column" fxLayoutAlign="space-between start">
                <p>Create a new, strong password that you don't use for other websites</p>
            </div>

            <div class="username" fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" style="width: 320px;">
                    <mat-label>Create password</mat-label>
                    <input matInput placeholder="Create password">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 320px;">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="Confirm password">
                </mat-form-field>
            </div>

            <div class="line3" fxLayout="column" fxLayoutAlign="space-between start">
                <mat-hint>Atleast 8 characters</mat-hint>
            </div>

            <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center" >
                <p routerLink="/login" style="font-size: 16px; color: #1A73E8;" >Skip</p>
                <button  mat-raised-button color="primary" >Save Password</button>
            </div>

        </div>

    </div>
</div>
