<div class="main" fxLayout="column" fxLayoutAlign="center center" [style.background]="colour">
    <div fxLayout="column" class="style">
        <div class="title">
            <input type="text" placeholder="title" [(ngModel)]="title">
        </div>
        <div class="desc">
            <input type="text" placeholder="take a notes" [(ngModel)]="description">
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-icons [notedata]="data" (colornote)="getcolornote($event)"></app-icons>
            <button (click)="onSubmit()" mat-button>Close</button>
        </div>
    </div>
</div>