<div fxLayout="row" fxLayoutAlign="space-around center" class="icons">
    <button mat-icon-button matTooltip="Reminder">
        <img *ngIf="!isTrash && !isArchive" src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="Reminder" />
    </button>
    <button mat-icon-button matTooltip="Collaborator">
        <img *ngIf="!isTrash && !isArchive" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="Collaborator" />
    </button>
    <button mat-icon-button matTooltip="Colour" class="palette">
        <img [matMenuTriggerFor]="aboveMenu" *ngIf="!isTrash && !isArchive" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="Colour" />
        <mat-menu #aboveMenu="matMenu" yPosition="below">
            <div class="pop">
                <div *ngFor='let color of colorarray'>
                    <button style="background-color: transparent;border: none;width: 40px;height: 40px;border-radius: 100%;"
                        [style.background]="color?.Colorcode" (click)="ColorNote(color?.Colorcode)">
    
                    </button>
                </div>
            </div>
        </mat-menu>
    </button>
    <button mat-icon-button matTooltip="Image">
        <img *ngIf="!isTrash && !isArchive" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="Image" />
    </button>
    <button mat-icon-button matTooltip="Archive" (click)="archieve()">
        <img *ngIf="!isTrash && !isArchive" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="Archive"/>
    </button>

    <!-- <button mat-icon-button matTooltip="UnArchive" >
        <img *ngIf="isArchive" src="../../../assets/unarchive_FILL0_wght400_GRAD0_opsz48.svg" alt="unarchive">
    </button> -->

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon><img *ngIf="!isTrash && !isArchive" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt=""></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span *ngIf="!isTrash && !isArchive" (click)="Trashnote()">Delete note</span>
        </button>
        <button mat-menu-item>
            <span>Add label</span>
        </button>
        <button mat-menu-item>
            <span>Add drawing</span>
        </button>
        <button mat-menu-item>
            <span>Make a copy</span>
        </button>
        <button mat-menu-item>
            <span>Show checkboxex</span>
        </button>
    </mat-menu>

</div>