mat-form-field.mat-form-field {
    font-size: 14px;
  }

  form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #4e4c4c;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    padding: 25px;
    background: rgb(255, 255, 255);
  }