<div class="Outerdiv">
    <div class="main">
        <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">

            <div class="heading" fxLayout="column" fxLayoutAlign="space-between center">
                <h3 style="font-size: 26px; font-style: inherit;">
                    <span style="color: rgb(9, 137, 196)">F</span>
                    <span style="color: rgb(216, 65, 65)">u</span>
                    <span style="color: rgb(219, 154, 32)">n</span>
                    <span style="color: rgb(209, 26, 117)">d</span>
                    <span style="color: rgb(142, 151, 14)">o</span>
                    <span style="color: rgb(39, 193, 78)">o</span>
                    <span style="color: rgb(14, 197, 213)">N</span>
                    <span style="color: rgb(203, 78, 15)">o</span>
                    <span style="color: rgb(22, 111, 99)">t</span>
                    <span style="color: rgb(102, 9, 164)">e</span>
                </h3>
            </div>
            
            <div class="line" fxLayout="column" fxLayoutAlign="space-between center">
                <p style="font-size: 24px; font-family: Google Sans,Noto Sans Myanmar UI,arial,sans-serif;">Sign In</p>
            </div>

            <div class="line1" fxLayout="column" fxLayoutAlign="space-between center">
                <p style="font-size: 20px; font-family: Google Sans,Noto Sans Myanmar UI,arial,sans-serif;">Use your Google Account</p>
            </div>


            <div class="username" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" style="width: 420px;">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username">
                </mat-form-field>
            </div>

            <div class="line3" fxLayout="column" fxLayoutAlign="space-between start">
                <button routerLink="/forgotEmail" mat-button color="primary" >Forgot email</button>
            </div>

            <div class="bottom" fxLayout="row" fxLayoutAlign="space-around center">
                <button routerLink="/register"mat-button color="primary">Create Account</button>
                <button  mat-raised-button color="primary" >Next</button>
            </div>

        </div>
    </div>
</div>