.Outerdiv{
  border: 0px solid rgb(255, 253, 253);
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  border: 1px solid grey; 
  border-radius: 4px;
  width: 60%;
  height: 80%; 
  display: flex; 
  justify-content: space-around;
}

.container1{
  //border: 5px solid pink;
   width : 80%; 
   height : 100%;
}

.heading{
  // border: 1px solid orange; 
  width: 80%;
  height: 12%;
  padding-top: 10%;
}

.line{
  // border: 1px solid orange; 
  width: 80%;
  height: 12%;
  font-size: 24px;
}

.name{
  //border: 1px solid orange; 
  width: 85%;
  height: 10%;
}

.username{
   //border: 1px solid orange;
   width: 83%;
   height: 12%;
}

.line1{
   //border: 1px solid orange;
   width: 80%;
   height: 10%;
}

.paswrd{
  //border: 1px solid orange;
  width: 85%;
  height: 10%;
}

.checkbox{
  width: 80%;
  height: 10%;
}

.line2{
  //border: 1px solid orange; 
  width: 80%;
  height: 10%;
}

.bottom{
 // border: 1px solid orange; 
  width: 85%;
  height: 30%;
}

.container{
 // border: 1px solid green; 
  width : 40%; 
  height : 100%;
}

