<div class="Outerdiv" fxLayout="column" fxLayoutAlign="center center" >
    <div class="main" fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="container1">
                <div>
                    <h3 class="heading">
                        <span style="color: rgb(9, 137, 196)">F</span>
                        <span style="color: rgb(216, 65, 65)">u</span>
                        <span style="color: rgb(219, 154, 32)">n</span>
                        <span style="color: rgb(209, 26, 117)">d</span>
                        <span style="color: rgb(142, 151, 14)">o</span>
                        <span style="color: rgb(39, 193, 78)">o</span>
                        <span style="color: rgb(14, 197, 213)">N</span>
                        <span style="color: rgb(203, 78, 15)">o</span>
                        <span style="color: rgb(22, 111, 99)">t</span>
                        <span style="color: rgb(102, 9, 164)">e</span>
                    </h3>

                </div>
                <div class="line1">
                    <span style="font-size: 22px;">Create your Google account</span>
                </div>

                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="FirstName" matInput placeholder="" />
                        <mat-error>Enter your first name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="LastName" matInput placeholder="" />
                        <mat-error>Enter your last name</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayoutAlign="center ">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="Email" matInput placeholder="" />
                        <mat-error>Enter your Email</mat-error>
                    </mat-form-field>
                </div>

                <div class="line2">
                    <mat-hint>You can use letters, numbers & periods</mat-hint>
                </div>

                <a mat-button color="primary">Use my current email address instead</a>

                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="Password" matInput placeholder="" />
                        <mat-error>Enter your password</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmPassword" matInput placeholder="" />
                        <mat-error>Enter your confirm password</mat-error>
                    </mat-form-field>
                </div>

                <div class="line2">
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </div>

                <div>
                    <mat-checkbox>Show password</mat-checkbox>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button routerLink="/login" mat-button color="primary"> Sign in instead</button>
                    <button mat-raised-button color="primary">Next</button>
                </div>

            </div>
        </form>

        <div class="container" fxLayout="column" fxHide.xs="true">
            <img src="../../../assets/Google_signup.svg" alt="img" />
            <p style="text-align: center;">One account. All of Google</p>
            <p style="text-align: center;"> working for you.</p>
        </div>

    </div>
</div>