.Outerdiv{
   
  // margin: 30px 22%;
  padding: 30px;
 
  
}
.main{
  border: 1px solid grey;
  border-radius: 7px;
  padding: 20px;
  padding-bottom: 7%;
}

.heading{
  font-size: 30px; 
  font-style: inherit;
}

.line1{
 margin-bottom: 20px;
}

.line2{
margin-bottom: 20px;
}

.container{
  //border: 1px solid orange;
  padding-left: 20px;
  width: 300px;
  
}
mat-form-field.mat-form-field {
  font-size: 14px;
}